.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.clearfix {
    zoom: 1;
}

body {
    width: 100%;
    background: lightgray;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 80px;
    background: #333333;
}

.header .main {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.header .main .logo {
    width: 80px;
    height: 80px;
    line-height: 80px;
    float: left;
    color: #fff;
}

.header ul {
    position: absolute;
    width: auto;
    top: 10px;
    right: 10px;
    margin: 0;
    padding: 0;
}

.header ul li {
    float: left;
    list-style: none;
    box-sizing: border-box;
    padding: 0 10px;
}

.banner {
    width: 100%;
    height: 300px;
    margin: 0px auto;
    background: #66bb33;
    position: relative;
}

.banner ul {
    position: absolute;
    right: 30px;
    bottom: 0px;
}

.banner ul li {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background: orchid;
    color: #fff;
    margin-right: 20px;
    list-style: none;
    cursor: pointer;
}

.banner ul li:hover {
    background: darkorchid;
}

.section {
    width: 100%;
    background: #fff;
}

.section .nav {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #cccccc;
    box-sizing: border-box;
    padding-top: 20px;
}

.section .nav ul {
    width: 960px;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    padding: 0;
}

.section .nav ul li {
    float: left;
    width: 105px;
    height: 50px;
    text-align: center;
    list-style: none;
    border: 1px solid #ccc;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    background: #eee;
    cursor: pointer;
    box-sizing: border-box;
}

.section .nav ul li.active {
    background: #fff;
    border-bottom: none;
}

.section .main {
    width: 960px;
    margin: 0 auto;
}

.section .main .article {
    width: 100%;
    height: 180px;
    display: flex;
}

.section .main .article .item {
    flex: 1;
    border: 1px solid #ccc;
    margin: 10px 10px 10px 0;
    box-sizing: border-box;
    padding: 60px;
}

.footer {
    width: 100%;
    height: 120px;
    background: #666666;
}