img{
    width: 100px;
    height: 100px;;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    section{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
        div{
            width: 60%;
            margin: 0 auto;
        }
    }
    section#box1{
        background: greenyellow;
    }
    section#box2{
        display: none;
        background: hotpink;
        
    }
    section#box3{
        display: none;
        background: aqua;
    }
    section#box4{
        display: none;
        background: lightcoral;
    }
}
